* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302f2f;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "Libre Baskerville";
  color: rgb(4, 160, 250);
  font-weight: 600;
  font-size: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

header {
  padding-top: 5vh;
  padding-bottom: 15vh;
}
#board {
  display: none;
  width: 24vw;
  height: 24vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto;
}

#playBtn {
  padding: 3vh;
  background-color: rgb(4, 160, 250);
  border: 2px solid black;
  border-radius: 5px;
}

#playBtn:hover {
  background-color: rgb(44, 209, 231);
  border: 2px solid rgb(255, 255, 255);
}

.square {
  background-color: #302f2f;
  border-radius: 5px;
  height: 8vw;
  width: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville";
  color: rgb(44, 209, 231);
  font-size: 1em;
}

.O {
  color: rgb(255, 139, 62);
}

.square:hover {
  background-color: #363535;
}

#border1 {
  border-right: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
}

#border2 {
  border-right: 2px solid rgb(4, 160, 250);
  border-left: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
}

#border3 {
  border-left: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
}

#border4 {
  border-right: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
}

#border5 {
  border-right: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
  border-left: 2px solid rgb(4, 160, 250);
}

#border6 {
  border-left: 2px solid rgb(4, 160, 250);
  border-bottom: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
}

#border7 {
  border-right: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
}

#border8 {
  border-left: 2px solid rgb(4, 160, 250);
  border-right: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
}

#border9 {
  border-left: 2px solid rgb(4, 160, 250);
  border-top: 2px solid rgb(4, 160, 250);
}

form input {
  border-radius: 5px;
  color: #4d4d4d;
}

footer {
  background-color: #292828;
  color: rgba(4, 160, 250, 0.76);
  width: 100vw;
  height: 9vh;
  font-size: 12px;
  text-align: center;
  padding-top: 3vh;
  margin-top: auto;
}
